
body {
  background-image: url('bg.png');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  }
  

  #container {
    position: relative;
    text-align: center;
    background-color: antiquewhite;
    border: 2px solid rgba(0, 0, 0, 0.2); /* Solid border with slight transparency */
    border-radius: 20px; /* Rounded corners */
    padding: 20px; /* Padding inside the container */
    margin: 20px; /* Margin for spacing */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }
#welcome {
  display: block;
}

#quiz {
  display: none;
  margin-bottom: 20px;
}

#scoreboard {
  display: none;
}

input[type="text"],
button {
  margin: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  cursor: pointer;
}

#problem {
  font-size: 24px;
}

#score {
  font-size: 32px;
}
#scoreDisplay {
  font-size: 18px;
  margin-bottom: 10px;
}

#problem {
  font-size: 24px;
}

#currentScore {
  font-weight: bold;
}
